@using University.Portal.Data.Data.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CommonLayout";
}

@model IEnumerable<ExamScheduleListViewModel>;

@{
    if (Model != null && Model.Count() > 0)
    {
        <table id="table1" class="table table-bordered" style="margin-top:50px" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="Department" data-filter-control="input">Department</th>
                    <th data-field="Class" data-filter-control="input">Class</th>
                    <th data-field="Start Date" data-filter-control="input">Start Date</th>
                    <th data-field="End Date" data-filter-control="input">End Date</th>
                    <th colspan="1" data-field="Action">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Department</th>
                        <td>@item.Year</td>
                        <td>@item.StartDate.ToString("MM/dd/yyyy")</td>
                        <td>@item.EndDate.ToString("MM/dd/yyyy")</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-evenly">
                                <a asp-action="AddEditExamSchedule" asp-route-id=@item.Id class="btn btn-primary gridbtn">Edit</a>
                                <a asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger gridbtn">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered" style="margin-top:50px">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Class</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" class="text-center">No Records Found!</td>
                </tr>
            </tbody>
        </table>
    }
}

<div style="float:right">
    <h3>Total Records (@Model.Count())</h3>
    <input type="button" value="Add Exam Schedule" class="btn btn-primary mt-5" style="float:right" onclick="@("window.location.href='" + @Url.Action("AddEditExamSchedule", "University") + "'");" />
</div>

<script>
    $(function () {
        $('#table1').bootstrapTable();
        $('.fixed-table-loading').remove();
    })
</script>