@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script src="~/js/commonlayout.js"></script>

    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/commonlayout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:#3b5998">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            @{
                                <h1 class="nav-link active" style="text-align:center">@User.FindFirst("UniversityName").Value</h1>
                            }
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right pr50">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name
                                <br /><span>@User.FindFirst("Role").Value</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button type="button" id="profile" class="btn btn-outline-dark btn-profile" onc>
                                        User Profile
                                    </button>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-action="Logout" asp-controller="Dashboard" method="post">
                                        <button type="submit" class="btn btn-outline-success btn-logout">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="sidebar" style="background-color:#3b5998">
        <ul class="nav nav-pills flex-column mb-auto">
            @{
                if (User.FindFirst("Role").Value == "Office Admin" || User.FindFirst("Role").Value == "Exam Coordinator")
                {
                    <li class="nav-item">
                        <a href="/University" class="nav-link" aria-current="page" id="studentDetails">
                            @* <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>*@
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Student Details
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Office Admin")
                {
                    <li>
                        <a href="/University/TutionFeeDetails" class="nav-link text-white" id="tutionFeeDetails">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>*@
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Tution Fee Details
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Exam Coordinator")
                {
                    <li>
                        <a href="/University/ExamSchedule" class="nav-link text-white" id="examSchedule">
                            @* <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>*@
                            <i class="fa fa-university" aria-hidden="true"></i>
                            Exam Schedule Details
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Exam Coordinator")
                {
                    <li>
                        <a href="/University/ExamFeeDetails" class="nav-link text-white" id="feeDetails">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>*@
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Fee Details
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Exam Coordinator")
                {
                    <li>
                        <a href="/University/PublishExamResult" class="nav-link text-white" id="publishExamResult">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            Publish Exam Result
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Exam Coordinator")
                {
                    <li>
                        <a href="/University/PublishDocuments" class="nav-link text-white" id="publishDocuments">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            Publish Documents
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Student")
                {
                    <li>
                        <a href="/Notification/Notification" class="nav-link text-white" id="notifications">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            Notifications
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Student")
                {
                    <li>
                        <a href="/Student/FeePayment" class="nav-link text-white" id="feePayment">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            Fee Payment
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Student")
                {
                    <li>
                        <a href="/Student/ViewResult" class="nav-link text-white" id="viewResults">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            View Results
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Student")
                {
                    <li>
                        <a href="/Student/UploadDocument" class="nav-link text-white" id="uploadDocument">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            Upload Documents
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "Student")
                {
                    <li>
                        <a href="/Student/DownloadDocuments" class="nav-link text-white" id="downloadDocuments">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Download Documents
                        </a>
                    </li>
                }
            }
            @{
                if (User.FindFirst("Role").Value == "OfficeAdmin" || User.FindFirst("Role").Value == "ExaminationCoordinator")
                {
                    <li>
                        <a href="/Notification/Notification" class="nav-link text-white" id="notifications">
                            @*<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>*@
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            Notifications
                        </a>
                    </li>
                }
            }
            
            

        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="text-center"><button id="btnusrPrfSubmit" class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function showToastrMessage(message, title) {
            var options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.success(message, title, options)
        };

        function setActiveTabClass(id) {
            $('#' + id).addClass('active');
        };

    </script>
    @if (ViewBag.JavaScriptFunction != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.JavaScriptFunction)
        </script>
    }
    else if (TempData["JavaScriptFunction"] != null)
    {
        <script type="text/javascript">
            @Html.Raw(TempData["JavaScriptFunction"])
        </script>
    }

    @if (ViewBag.SetActiveTab != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.JavaScriptFunction)
        </script>
    }
    else if (TempData["SetActiveTab"] != null)
    {
        <script type="text/javascript">
            @Html.Raw(TempData["SetActiveTab"])
        </script>
    }

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - R Solutions (Skillup) - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
            <h5 style="float:right; margin-top:12px">@DateTime.Now.ToString("dd/MM/yyyy")</h5>
        </div>
    </footer>
</body>
</html>